jupyter/.ipynb_checkpoints
__pycache__/

.vscode/

goals/**
!goals/.gitkeep 
selection/**
!selection/.gitkeep

/log.txt
/filter.txt

*.xlsx#
*.ods#
*.csv#

*.aux
*.glo
*.idx
*.log
*.toc
*.ist
*.acn
*.acr
*.alg
*.bbl
*.blg
*.dvi
*.glg
*.gls
*.ilg
*.ind
*.lof
*.lot
*.lol
*.maf
*.mtc
*.mtc1
*.out
*.synctex.gz

.venv/
.venv_2/

*.xml

.DS_Store

E/*
E.tar

AdimenSUMO2.6/

goals/